.article-slide-show {
    .top-col {
        width: 644px;
        height: 295px;
        background-color: #333536;
        position: absolute;
    }
    .left-part {
        margin-top: 10px;
        margin-left: 10px;
        width: 411px;
        height: 275px;
        position: absolute;
    }
    .read {
        padding-left: 10px;
        padding-top: 245px;
        width: 411px;
        height: 44px;
        position: absolute;
        p {
            padding: 10px;
            color: white;
            float: left;
        }
        img {
            margin-left: 333px;
            margin-top: -27px;
            float: left;
        }
    }
    .right-part {
        width: 210px;
        height: 268px;
        position: absolute;
        margin-left: 421px;
        margin-top: 10px;
    }
    .part {
        width: 210px;
        height: 68px;
        border-color: white;
        border-style: solid;
        border-width: 0.5px;
        img {
            margin-left: 8px;
            margin-top: 8px;
            display: inline;
        }
    }
    .content {
        font-size: 11px;
        line-height: 14px;
        color: white;
        width: 111px;
        float: right;
        margin-top: 8px;
        margin-right: 8px;
    }
}